In [1]:
import pandas as pd
csv_data_path = "data/Datasets_Reto_Modelling_UH2019/"
modelar_data_path = csv_data_path + "Modelar_UH2019.txt"
estimar_data_path = csv_data_path + "Estimar_UH2019.txt"
imagenes_data_path =  "data/imagenes_inmuebles_haya"

In [2]:
df_modelar = pd.read_csv(modelar_data_path, delimiter="|", dtype={'HY_cod_postal': object})
df_estimar = pd.read_csv(estimar_data_path, delimiter="|", dtype={'HY_cod_postal': object})
df_modelar_filas, df_modelar_columnas = df_modelar.shape
print("Filas:", df_modelar_filas)
print("Columnas:", df_modelar_columnas)

Filas: 9958
Columnas: 53

In [3]:
df_modelar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9958 entries, 0 to 9957
Data columns (total 53 columns):
HY_id                              9958 non-null int64
HY_cod_postal                      9958 non-null object
HY_provincia                       9916 non-null object
HY_descripcion                     6016 non-null object
HY_distribucion                    3213 non-null object
HY_tipo                            9958 non-null object
HY_antiguedad                      4474 non-null float64
HY_metros_utiles                   7072 non-null float64
HY_metros_totales                  9924 non-null float64
HY_num_banos                       9958 non-null int64
HY_cert_energ                      1658 non-null object
HY_num_terrazas                    9958 non-null int64
HY_ascensor                        9958 non-null int64
HY_trastero                        9958 non-null int64
HY_num_garajes                     9958 non-null int64
HY_precio                          9958 non-null float64
HY_precio_anterior                 6800 non-null float64
IDEA_area                          7327 non-null float64
IDEA_poblacion                     7323 non-null float64
IDEA_densidad                      7323 non-null float64
IDEA_pc_1960                       7248 non-null float64
IDEA_pc_1960_69                    7248 non-null float64
IDEA_pc_1970_79                    7248 non-null float64
IDEA_pc_1980_89                    7248 non-null float64
IDEA_pc_1990_99                    7248 non-null float64
IDEA_pc_2000_10                    7248 non-null float64
IDEA_pc_comercio                   7248 non-null float64
IDEA_pc_industria                  7248 non-null float64
IDEA_pc_oficina                    7248 non-null float64
IDEA_pc_otros                      7248 non-null float64
IDEA_pc_residencial                7248 non-null float64
IDEA_pc_trast_parking              7248 non-null float64
IDEA_ind_tienda                    7241 non-null float64
IDEA_ind_turismo                   7241 non-null float64
IDEA_ind_alimentacion              7241 non-null float64
IDEA_ind_riqueza                   7327 non-null float64
IDEA_rent_alquiler                 6896 non-null float64
IDEA_ind_elasticidad               4852 non-null float64
IDEA_ind_liquidez                  4852 non-null float64
IDEA_unitprice_sale_residential    7323 non-null float64
IDEA_price_sale_residential        7323 non-null float64
IDEA_stock_sale_residential        7323 non-null float64
IDEA_demand_sale_residential       7323 non-null float64
IDEA_unitprice_rent_residential    6960 non-null float64
IDEA_price_rent_residential        6960 non-null float64
IDEA_stock_rent_residential        6960 non-null float64
IDEA_demand_rent_residential       7323 non-null float64
GA_page_views                      9958 non-null int64
GA_mean_bounce                     9958 non-null float64
GA_exit_rate                       9958 non-null float64
GA_quincena_ini                    9958 non-null int64
GA_quincena_ult                    9958 non-null int64
TARGET                             9958 non-null float64
dtypes: float64(38), int64(9), object(6)
memory usage: 4.0+ MB

In [4]:
df_modelar.describe()

,HY_id,HY_antiguedad,HY_metros_utiles,HY_metros_totales,HY_num_banos,HY_num_terrazas,HY_ascensor,HY_trastero,HY_num_garajes,HY_precio,...,IDEA_unitprice_rent_residential,IDEA_price_rent_residential,IDEA_stock_rent_residential,IDEA_demand_rent_residential,GA_page_views,GA_mean_bounce,GA_exit_rate,GA_quincena_ini,GA_quincena_ult,TARGET
count,9.958000e+03,4474.000000,7.072000e+03,9.924000e+03,9958.000000,9958.000000,9958.000000,9958.000000,9958.000000,9.958000e+03,...,6960.000000,6960.000000,6960.000000,7323.00000,9958.000000,9958.000000,9958.000000,9958.000000,9958.000000,9958.000000
mean,6.272842e+06,1997.306214,4.714240e+02,5.433917e+02,0.819642,0.019984,0.270436,0.062161,0.097007,7.672430e+04,...,5.164539,601.835398,116.106897,47.52931,190.964652,18.715863,22.209963,14.421370,42.546596,74.155855
std,3.421042e+05,21.089912,2.192031e+04,1.921910e+04,2.913022,0.185066,0.444207,0.241460,0.297337,1.634361e+05,...,1.815746,295.329588,249.668927,13.73609,482.313088,19.983743,20.995044,14.091417,8.404279,89.738992
min,6.028499e+06,1877.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,1.000000,180.000000,3.000000,0.00000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,6.039048e+06,1992.000000,1.428500e+01,3.170000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,1.050000e+04,...,3.980000,442.730000,24.000000,50.94000,6.000000,0.000000,8.612500,2.000000,42.000000,28.655000
50%,6.080821e+06,2007.000000,6.300000e+01,8.100000e+01,1.000000,0.000000,0.000000,0.000000,0.000000,5.970000e+04,...,4.810000,524.140000,57.000000,51.39000,30.000000,14.290000,16.960000,9.000000,46.000000,56.275000
75%,6.528256e+06,2009.000000,9.000000e+01,1.149800e+02,1.000000,0.000000,1.000000,0.000000,0.000000,9.170000e+04,...,5.940000,677.330000,120.000000,51.88000,168.000000,29.170000,30.000000,26.000000,47.000000,90.507500
max,7.017665e+06,2088.000000,1.820000e+06,1.820000e+06,99.000000,10.000000,1.000000,1.000000,2.000000,1.040000e+07,...,18.750000,3023.800000,5685.000000,54.22000,13698.000000,100.000000,100.000000,47.000000,47.000000,1770.000000

In [5]:
# ID (HY_id)
# 9958 ids únicas | todas las entradas tiene id
# Parece no haber problema al convertirlas a int

In [6]:
df_modelar['HY_id'].head()

0    6028499
1    6028500
2    6028502
3    6028512
4    6028513
Name: HY_id, dtype: int64

In [7]:
df_modelar['HY_id'].describe()

count    9.958000e+03
mean     6.272842e+06
std      3.421042e+05
min      6.028499e+06
25%      6.039048e+06
50%      6.080821e+06
75%      6.528256e+06
max      7.017665e+06
Name: HY_id, dtype: float64

In [8]:
df_modelar.HY_id.astype(int).describe()

count    9.958000e+03
mean     6.272842e+06
std      3.421042e+05
min      6.028499e+06
25%      6.039048e+06
50%      6.080821e+06
75%      6.528256e+06
max      7.017665e+06
Name: HY_id, dtype: float64

In [9]:
unique_id_float = df_modelar['HY_id'].unique()
unique_id_int = df_modelar.HY_id.astype(int).unique()

print("Únicos float:", len(unique_id_float))
print("Únicos int:", len(unique_id_int))
print("Iguales float-int:", set(unique_id_float) == set(unique_id_int))

Únicos float: 9958
Únicos int: 9958
Iguales float-int: True

In [10]:
# Código postal (HY_cod_postal)
# https://es.wikipedia.org/wiki/C%C3%B3digo_postal_de_Espa%C3%B1a
# https://www.solosequenosenada.com/2010/09/16/listado-de-todos-los-codigos-postales-de-espana/

# En la actualidad el territorio español se divide en 11.752 códigos postales.

# Las dos primeras hacen referencia a la provincia
# Las tres cifras finales indican la zona postalː
#    la tercera cifra indica el encaminamiento;
#    el cuarto dígito representa la ruta;
#    el quinto dígito representa el reparto.


# En el dataset hay 9950 códifos postales, 1231 diferentes (string, float e int)
# Parece no haber problema al convertirlos a int | todas las entradas tienen código postal
# Puede ser mejor leerlos de fichero como string para que todos tenga 5 dígitos

#Idea 1 - separar código de provincia

In [11]:
df_modelar['HY_cod_postal'].head()

0    18151
1    29915
2    03740
3    30592
4    30592
Name: HY_cod_postal, dtype: object

In [12]:
df_modelar['HY_cod_postal'].describe()

count      9958
unique     1231
top       04740
freq        243
Name: HY_cod_postal, dtype: object

In [13]:
df_modelar.HY_cod_postal.astype(float).describe()

count     9958.000000
mean     24008.655654
std      16685.040678
min       2001.000000
25%       4800.000000
50%      28980.500000
75%      43540.000000
max      50370.000000
Name: HY_cod_postal, dtype: float64

In [14]:
df_modelar.HY_cod_postal.astype(int).describe()

count     9958.000000
mean     24008.655654
std      16685.040678
min       2001.000000
25%       4800.000000
50%      28980.500000
75%      43540.000000
max      50370.000000
Name: HY_cod_postal, dtype: float64

In [15]:
unique_cd_string = df_modelar['HY_cod_postal'].unique()
unique_cd_float = df_modelar.HY_cod_postal.astype(float).unique()
unique_cd_int = df_modelar.HY_cod_postal.astype(int).unique()

print("Únicos string:", len(unique_cd_string))
print("Únicos float:", len(unique_cd_float))
print("Únicos int:", len(unique_cd_int))
print("Iguales float-int:", set(unique_cd_float) == set(unique_cd_int))

Únicos string: 1231
Únicos float: 1231
Únicos int: 1231
Iguales float-int: True

In [16]:
# Provincia (HY_provincia)

# Hay 42 filas sin provincia (pero con código postal)
# La provincia se puede inferir del código postal -> Mezclar código postal/provincia
# y usar provincia como booleano

In [17]:
df_modelar['HY_provincia'].head()

0     Granada
1      Málaga
2    Alicante
3      Murcia
4      Murcia
Name: HY_provincia, dtype: object

In [18]:
df_modelar['HY_provincia'].describe()

count         9916
unique          42
top       Valencia
freq          2080
Name: HY_provincia, dtype: object

In [19]:
df_sin_provincia = df_modelar[df_modelar['HY_provincia'].isnull() == True]
print("Filas sin provincia:", df_sin_provincia['HY_id'].count())

#df_sin_provincia[['HY_id', 'HY_cod_postal']]

Filas sin provincia: 42

In [20]:
# Descripción del inmueble (HY_descripcion)
# Hay 3942 filas sin descripción

# ¿NLP?

In [21]:
df_modelar['HY_descripcion'].head()

0    Plaza de Garaje ubicada en la planta sótano de...
1                                                  NaN
2    El inmueble(piso) se encuentra situado en el d...
3    Plaza de garaje situada en la planta semisótan...
4    Plaza de garaje situada en la planta semisótan...
Name: HY_descripcion, dtype: object

In [22]:
df_modelar['HY_descripcion'].describe()

count                                                  6016
unique                                                 3467
top       Plaza de garaje ubicada en la planta sótano de...
freq                                                     76
Name: HY_descripcion, dtype: object

In [23]:
df_sin_descripcion = df_modelar[df_modelar['HY_descripcion'].isnull()]
print("Filas sin descripcion:", df_sin_descripcion['HY_id'].count())
#df_sin_descripcion[['HY_id']]

Filas sin descripcion: 3942

In [24]:
# Distribución (HY_distribucion)
# ¿Los sitios sin distribución y sin descripción son los mismos?

# ¿NLP?

In [25]:
df_modelar['HY_distribucion'].head()

0              NaN
1              NaN
2    VIVIENDA-PISO
3              NaN
4              NaN
Name: HY_distribucion, dtype: object

In [26]:
df_modelar['HY_distribucion'].describe()

count                                                  3213
unique                                                 1989
top       La vivienda se distribuye en cocina, salón-com...
freq                                                     52
Name: HY_distribucion, dtype: object

In [27]:
df_sin_distribucion = df_modelar[df_modelar['HY_descripcion'].isnull()]
print("Filas sin distribucion: ", df_sin_distribucion['HY_id'].count())
#df_sin_distribucion[['HY_id']]

Filas sin distribucion:  3942

In [28]:
set(df_sin_descripcion['HY_id']) == set(df_sin_distribucion['HY_id'])

True

In [29]:
# Tipo (HY_tipo)
# Filas sin tipo:  0

In [30]:
df_modelar['HY_tipo'].head()

0            Garaje
1    Casa de pueblo
2              Piso
3            Garaje
4            Garaje
Name: HY_tipo, dtype: object

In [31]:
df_modelar['HY_tipo'].describe()

count     9958
unique      20
top       Piso
freq      4182
Name: HY_tipo, dtype: object

In [32]:
df_sin_tipo = df_modelar[df_modelar['HY_tipo'].isnull()]
print("Filas sin tipo: ", df_sin_tipo['HY_id'].count())
#df_sin_tipo[['HY_id']]

Filas sin tipo:  0

In [33]:
df_modelar.groupby('HY_tipo')['HY_tipo'].count()

HY_tipo
Almacén                            3
Aparcamiento                       1
Casa de pueblo                   557
Chalet adosado                   433
Chalet independiente             209
Chalet pareado                     9
Dúplex                           184
Edificio comercial                 2
Edificio turístico                17
Garaje                          2761
Local                            827
Nave adosada                     130
Nave aislada                      38
Oficina                          103
Otro                              12
Piso                            4182
Solar                            198
Suelo rústico no urbanizable       2
Trastero                         282
Ático                              8
Name: HY_tipo, dtype: int64

In [34]:
# Antigüedad (HY_antiguedad)

# Filas sin antigüedad: 5484
# Minimo: 1877
# Máximo: 2088

# Comprobar años raros

# Idea 1 -> normalizar con ~años máximo
# Idea 2 -> Hacer grupos de épocas (buscar en que basarse)

In [35]:
df_modelar['HY_antiguedad'].head()

0       NaN
1       NaN
2    2008.0
3       NaN
4       NaN
Name: HY_antiguedad, dtype: float64

In [36]:
df_modelar['HY_antiguedad'].describe()

count    4474.000000
mean     1997.306214
std        21.089912
min      1877.000000
25%      1992.000000
50%      2007.000000
75%      2009.000000
max      2088.000000
Name: HY_antiguedad, dtype: float64

In [37]:
df_sin_antiguedad = df_modelar[df_modelar['HY_antiguedad'].isnull()]
print("Filas sin antigüedad: ", df_sin_antiguedad['HY_id'].count())
#df_sin_antiguedad[['HY_id']]

Filas sin antigüedad:  5484

In [38]:
df_antiguedad_mayor_2016= df_modelar[df_modelar['HY_antiguedad'] > 2016]
print("> 2016: ", df_antiguedad_mayor_2016['HY_id'].count())
display(df_antiguedad_mayor_2016[['HY_id']])

anyos = df_modelar['HY_antiguedad'].unique()
anyos.sort()
anyos
df_modelar.groupby('HY_antiguedad')['HY_id'].count()

> 2016:  1

        HY_id
1012  6033510

HY_antiguedad
1877.0      1
1880.0      1
1884.0      1
1886.0      1
1887.0      6
1889.0      3
1890.0      5
1900.0     33
1903.0      1
1910.0     10
1912.0      1
1913.0      1
1916.0      1
1917.0      1
1920.0     18
1921.0      1
1925.0      3
1928.0      1
1930.0     19
1932.0      4
1933.0      1
1934.0      1
1935.0      2
1936.0      1
1940.0     22
1941.0      1
1943.0      1
1945.0      7
1946.0      1
1947.0      1
         ...
1987.0     19
1988.0     16
1989.0     95
1990.0     27
1991.0     22
1992.0     13
1993.0     58
1994.0     48
1995.0     27
1996.0     17
1997.0     16
1998.0     16
1999.0     15
2000.0     27
2001.0     38
2002.0     53
2003.0     67
2004.0     76
2005.0    153
2006.0    224
2007.0    323
2008.0    754
2009.0    591
2010.0    388
2011.0    281
2012.0    119
2013.0     30
2015.0      2
2016.0     23
2088.0      1
Name: HY_id, Length: 97, dtype: int64

In [39]:
# Metros útiles m^2 (HY_metros_utiles)

# Filas sin metros útiles: 2886
# Hay una fila con más de 1 millón de m^2 :-O

In [40]:
df_modelar['HY_metros_utiles'].head()

0      NaN
1      NaN
2    92.58
3    11.81
4    14.29
Name: HY_metros_utiles, dtype: float64

In [41]:
df_modelar['HY_metros_utiles'].describe()

count    7.072000e+03
mean     4.714240e+02
std      2.192031e+04
min      0.000000e+00
25%      1.428500e+01
50%      6.300000e+01
75%      9.000000e+01
max      1.820000e+06
Name: HY_metros_utiles, dtype: float64

In [42]:
df_sin_metros_utiles = df_modelar[df_modelar['HY_metros_utiles'].isnull()]
print("Filas sin metros útiles:", df_sin_metros_utiles['HY_id'].count())
#df_sin_metros_utiles[['HY_id']]

Filas sin metros útiles: 2886

In [43]:
metros = 1000000
df_metros_utiles_mayor_que = df_modelar[df_modelar['HY_metros_utiles'] > metros]
print(">", metros, ":", df_metros_utiles_mayor_que['HY_id'].count())
display(df_metros_utiles_mayor_que)
display(df_modelar.sort_values(by=['HY_metros_utiles'], ascending=False).head())

> 1000000 : 1

,HY_id,HY_cod_postal,HY_provincia,HY_descripcion,HY_distribucion,HY_tipo,HY_antiguedad,HY_metros_utiles,HY_metros_totales,HY_num_banos,...,IDEA_unitprice_rent_residential,IDEA_price_rent_residential,IDEA_stock_rent_residential,IDEA_demand_rent_residential,GA_page_views,GA_mean_bounce,GA_exit_rate,GA_quincena_ini,GA_quincena_ult,TARGET
9904,7008680,50270,Zaragoza,NaN,NaN,Solar,NaN,1820000.0,1820000.0,0,...,3.98,331.08,9.0,51.1,27,22.5,13.89,39,42,166.8

,HY_id,HY_cod_postal,HY_provincia,HY_descripcion,HY_distribucion,HY_tipo,HY_antiguedad,HY_metros_utiles,HY_metros_totales,HY_num_banos,...,IDEA_unitprice_rent_residential,IDEA_price_rent_residential,IDEA_stock_rent_residential,IDEA_demand_rent_residential,GA_page_views,GA_mean_bounce,GA_exit_rate,GA_quincena_ini,GA_quincena_ult,TARGET
9904,7008680,50270,Zaragoza,NaN,NaN,Solar,NaN,1820000.0,1820000.0,0,...,3.98,331.08,9.0,51.10,27,22.50,13.89,39,42,166.80
9324,6941069,04639,NaN,NaN,NaN,Solar,NaN,181590.0,181590.0,0,...,5.54,481.25,27.0,52.07,22,0.00,24.85,35,47,43.07
9649,6963968,35637,Las Palmas,NaN,NaN,Solar,NaN,144537.0,144537.0,0,...,NaN,NaN,NaN,0.00,4,66.67,50.00,37,43,12.33
9650,6963970,35637,Las Palmas,NaN,NaN,Solar,NaN,112717.0,112717.0,0,...,NaN,NaN,NaN,0.00,3,50.00,50.00,37,38,41.50
9648,6963963,35637,Las Palmas,NaN,NaN,Solar,NaN,100853.0,100853.0,0,...,NaN,NaN,NaN,0.00,5,50.00,33.33,37,40,67.00

In [44]:
# Metros totales (HY_metros_totales)

# Filas sin metros totales: 34

In [45]:
df_modelar['HY_metros_totales'].head()

0     35.00
1    151.98
2    102.78
3     12.46
4     15.43
Name: HY_metros_totales, dtype: float64

In [46]:
df_modelar['HY_metros_totales'].describe()

count    9.924000e+03
mean     5.433917e+02
std      1.921910e+04
min      0.000000e+00
25%      3.170000e+01
50%      8.100000e+01
75%      1.149800e+02
max      1.820000e+06
Name: HY_metros_totales, dtype: float64

In [47]:
df_sin_metros_totales = df_modelar[df_modelar['HY_metros_totales'].isnull()]
print("Filas sin metros totales:", df_sin_metros_totales['HY_id'].count())
#df_sin_metros_totales[['HY_id']]

Filas sin metros totales: 34

In [48]:
# Número de baños (HY_num_banos)

# Todas las filas tienen número de baño

In [49]:
df_modelar['HY_num_banos'].head()

0    0
1    2
2    1
3    0
4    0
Name: HY_num_banos, dtype: int64

In [50]:
df_modelar['HY_num_banos'].describe()

count    9958.000000
mean        0.819642
std         2.913022
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max        99.000000
Name: HY_num_banos, dtype: float64

In [51]:
df_sin_num_banos = df_modelar[df_modelar['HY_num_banos'].isnull()]
print("Filas sin número de baños:", df_sin_num_banos['HY_id'].count())
#df_sin_num_banos[['HY_id']]

Filas sin número de baños: 0

In [52]:
# Certificado energético (HY_cert_energ)

# Filas sin certificado energético: 8300

In [53]:
df_modelar['HY_cert_energ'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: HY_cert_energ, dtype: object

In [54]:
df_modelar['HY_cert_energ'].describe()

count     1658
unique       5
top          E
freq       799
Name: HY_cert_energ, dtype: object

In [55]:
df_sin_cert_energ = df_modelar[df_modelar['HY_cert_energ'].isnull()]
print("Filas sin certificado energético:", df_sin_cert_energ['HY_id'].count())
#df_sin_cert_energ[['HY_id']]

Filas sin certificado energético: 8300

In [56]:
# Número de terrazas (HY_num_terrazas)

# Filas sin número terrazas: 0

In [57]:
df_modelar['HY_num_terrazas'].head()

0    0
1    0
2    0
3    0
4    0
Name: HY_num_terrazas, dtype: int64

In [58]:
df_modelar['HY_num_terrazas'].describe()

count    9958.000000
mean        0.019984
std         0.185066
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: HY_num_terrazas, dtype: float64

In [59]:
df_sin_num_terrazas = df_modelar[df_modelar['HY_num_terrazas'].isnull()]
print("Filas sin número terrazas:", df_sin_num_terrazas['HY_id'].count())
#df_sin_num_terrazas[['HY_id']]

Filas sin número terrazas: 0

In [60]:
# Ascensor (HY_ascensor)

# Filas sin ascensor: 0

In [61]:
df_modelar['HY_ascensor'].head()

0    0
1    0
2    1
3    1
4    1
Name: HY_ascensor, dtype: int64

In [62]:
df_modelar['HY_ascensor'].describe()

count    9958.000000
mean        0.270436
std         0.444207
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: HY_ascensor, dtype: float64

In [63]:
df_sin_ascensor = df_modelar[df_modelar['HY_ascensor'].isnull()]
print("Filas sin ascensor:", df_sin_ascensor['HY_id'].count())
#df_sin_ascensor[['HY_id']]

Filas sin ascensor: 0

In [64]:
# Trastero (HY_trastero)

# Filas sin trastero: 0

In [65]:
df_modelar['HY_trastero'].head()

0    0
1    0
2    0
3    0
4    0
Name: HY_trastero, dtype: int64

In [66]:
df_modelar['HY_trastero'].describe()

count    9958.000000
mean        0.062161
std         0.241460
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: HY_trastero, dtype: float64

In [67]:
df_sin_trastero = df_modelar[df_modelar['HY_trastero'].isnull()]
print("Filas sin trastero:", df_sin_trastero['HY_id'].count())
#df_sin_trastero[['HY_id']]

Filas sin trastero: 0

In [68]:
# Número de garajes (HY_num_garajes)

# Filas sin trastero: 0

In [69]:
df_modelar['HY_num_garajes'].head()

0    0
1    0
2    1
3    0
4    0
Name: HY_num_garajes, dtype: int64

In [70]:
df_modelar['HY_num_garajes'].describe()

count    9958.000000
mean        0.097007
std         0.297337
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         2.000000
Name: HY_num_garajes, dtype: float64

In [71]:
df_sin_garaje = df_modelar[df_modelar['HY_num_garajes'].isnull()]
print("Filas sin garaje:", df_sin_garaje['HY_id'].count())
#df_sin_garaje[['HY_id']]

Filas sin garaje: 0

In [72]:
# Precio de venta (HY_precio)

# Filas sin precio: 0

In [73]:
df_modelar['HY_precio'].head()

0     12300.0
1    115000.0
2     88000.0
3      5800.0
4      7400.0
Name: HY_precio, dtype: float64

In [74]:
df_modelar['HY_precio'].describe()

count    9.958000e+03
mean     7.672430e+04
std      1.634361e+05
min      0.000000e+00
25%      1.050000e+04
50%      5.970000e+04
75%      9.170000e+04
max      1.040000e+07
Name: HY_precio, dtype: float64

In [75]:
df_sin_precio = df_modelar[df_modelar['HY_precio'].isnull()]
print("Filas sin precio:", df_sin_precio['HY_id'].count())
#df_sin_precio[['HY_id']]

Filas sin precio: 0

In [76]:
# Precio de venta anterior (HY_precio_anterior)

# Filas sin precio anterior: 3158
# Algunos precios raros (1 €)

In [77]:
df_modelar['HY_precio_anterior'].head()

0         NaN
1    125000.0
2     93500.0
3         NaN
4         NaN
Name: HY_precio_anterior, dtype: float64

In [78]:
df_modelar['HY_precio_anterior'].describe()

count    6.800000e+03
mean     8.939254e+04
std      4.314146e+05
min      1.000000e+00
25%      1.230000e+04
50%      6.410000e+04
75%      9.710000e+04
max      3.083310e+07
Name: HY_precio_anterior, dtype: float64

In [79]:
df_sin_precio_anterior = df_modelar[df_modelar['HY_precio_anterior'].isnull()]
print("Filas sin precio anterior:", df_sin_precio_anterior['HY_id'].count())
#df_sin_precio_anterior[['HY_id']]

Filas sin precio anterior: 3158

In [80]:
# Idea Area m^2 (IDEA_area)

# Filas sin area: 2631

In [81]:
df_modelar['IDEA_area'].head()

0     670.87
1    2216.24
2    2040.53
3     905.44
4     905.44
Name: IDEA_area, dtype: float64

In [82]:
df_modelar['IDEA_area'].describe()

count      7327.000000
mean       5128.812502
std       10660.457211
min           6.840000
25%         285.700000
50%        1391.520000
75%        4725.930000
max      107512.650000
Name: IDEA_area, dtype: float64

In [83]:
df_sin_i_area = df_modelar[df_modelar['IDEA_area'].isnull()]
print("Filas sin area:", df_sin_i_area['HY_id'].count())
#df_sin_i_area[['HY_id']]

Filas sin area: 2631

In [84]:
# Idea población (IDEA_poblacion)

# Filas sin población: 2635
# Minimo: 1 (es raro)

In [85]:
df_modelar['IDEA_poblacion'].head()

0    13372.0
1     1507.0
2     5810.0
3     7004.0
4     7004.0
Name: IDEA_poblacion, dtype: float64

In [86]:
df_modelar['IDEA_poblacion'].describe()

count     7323.000000
mean     10139.938004
std       8507.308312
min          1.000000
25%       3430.000000
50%       7693.000000
75%      14999.000000
max      54589.000000
Name: IDEA_poblacion, dtype: float64

In [87]:
df_sin_i_poblacion = df_modelar[df_modelar['IDEA_poblacion'].isnull()]
print("Filas sin población:", df_sin_i_poblacion['HY_id'].count())
#df_sin_i_poblacion[['HY_id']]

Filas sin población: 2635

In [88]:
# Idea densidad población (IDEA_densidad)

# Filas sin densidad: 2635

In [89]:
df_modelar['IDEA_densidad'].head()

0    19.93
1     0.68
2     2.85
3     7.74
4     7.74
Name: IDEA_densidad, dtype: float64

In [90]:
df_modelar['IDEA_densidad'].describe()

count    7323.000000
mean       34.918585
std        71.559554
min         0.010000
25%         1.040000
50%         4.520000
75%        25.130000
max       526.030000
Name: IDEA_densidad, dtype: float64

In [91]:
df_sin_i_densidad = df_modelar[df_modelar['IDEA_densidad'].isnull()]
print("Filas sin densidad:", df_sin_i_densidad['HY_id'].count())
#df_sin_i_densidad[['HY_id']]

Filas sin densidad: 2635

In [92]:
# % de inmbuebles construidos antes de 1960 (IDEA_pc_1960)

# Las sumas de todos los pc puede no dar 1: min ~0.5 / max > 1

In [93]:
df_modelar['IDEA_pc_1960'].head()

0    0.00
1    0.12
2    0.15
3    0.07
4    0.07
Name: IDEA_pc_1960, dtype: float64

In [94]:
df_modelar['IDEA_pc_1960'].describe()

count    7248.000000
mean        0.114331
std         0.093050
min         0.000000
25%         0.040000
50%         0.100000
75%         0.170000
max         0.480000
Name: IDEA_pc_1960, dtype: float64

In [95]:
# % de inmbuebles construidos entre 1960 - 1969 (IDEA_pc_1960_69)

In [96]:
df_modelar['IDEA_pc_1960_69'].head()

0    0.00
1    0.12
2    0.15
3    0.07
4    0.07
Name: IDEA_pc_1960_69, dtype: float64

In [97]:
df_modelar['IDEA_pc_1960_69'].describe()

count    7248.000000
mean        0.114331
std         0.093050
min         0.000000
25%         0.040000
50%         0.100000
75%         0.170000
max         0.480000
Name: IDEA_pc_1960_69, dtype: float64

In [98]:
# % de inmbuebles construidos entre 1970 - 1979 (IDEA_pc_1970_79)

In [99]:
df_modelar['IDEA_pc_1970_79'].head()

0    0.00
1    0.18
2    0.12
3    0.04
4    0.04
Name: IDEA_pc_1970_79, dtype: float64

In [100]:
df_modelar['IDEA_pc_1970_79'].describe()

count    7248.000000
mean        0.159658
std         0.109443
min         0.000000
25%         0.090000
50%         0.140000
75%         0.210000
max         0.990000
Name: IDEA_pc_1970_79, dtype: float64

In [101]:
# % de inmbuebles construidos entre 1980 - 1989 (IDEA_pc_1980_89)

In [102]:
df_modelar['IDEA_pc_1980_89'].head()

0    0.27
1    0.18
2    0.10
3    0.04
4    0.04
Name: IDEA_pc_1980_89, dtype: float64

In [103]:
df_modelar['IDEA_pc_1980_89'].describe()

count    7248.000000
mean        0.132972
std         0.072701
min         0.000000
25%         0.090000
50%         0.120000
75%         0.160000
max         0.940000
Name: IDEA_pc_1980_89, dtype: float64

In [104]:
# % de inmbuebles construidos entre 1990 - 1999 (IDEA_pc_1990_99)

In [105]:
df_modelar['IDEA_pc_1990_99'].head()

0    0.31
1    0.18
2    0.11
3    0.17
4    0.17
Name: IDEA_pc_1990_99, dtype: float64

In [106]:
df_modelar['IDEA_pc_1990_99'].describe()

count    7248.000000
mean        0.149433
std         0.074602
min         0.000000
25%         0.100000
50%         0.140000
75%         0.180000
max         0.800000
Name: IDEA_pc_1990_99, dtype: float64

In [107]:
# % de inmbuebles construidos entre 2000 - 2010 (IDEA_pc_2000_10)

In [108]:
df_modelar['IDEA_pc_2000_10'].head()

0    0.41
1    0.22
2    0.36
3    0.62
4    0.62
Name: IDEA_pc_2000_10, dtype: float64

In [109]:
df_modelar['IDEA_pc_2000_10'].describe()

count    7248.000000
mean        0.328667
std         0.182306
min         0.000000
25%         0.190000
50%         0.300000
75%         0.450000
max         1.000000
Name: IDEA_pc_2000_10, dtype: float64

In [110]:
display(set(df_modelar[df_modelar['IDEA_pc_1960'].notnull()]['HY_id']) == set(df_modelar[df_modelar['IDEA_pc_1960_69'].notnull()]['HY_id']))
display(set(df_modelar[df_modelar['IDEA_pc_1960_69'].notnull()]['HY_id']) == set(df_modelar[df_modelar['IDEA_pc_1970_79'].notnull()]['HY_id']))
display(set(df_modelar[df_modelar['IDEA_pc_1970_79'].notnull()]['HY_id']) == set(df_modelar[df_modelar['IDEA_pc_1980_89'].notnull()]['HY_id']))
display(set(df_modelar[df_modelar['IDEA_pc_1980_89'].notnull()]['HY_id']) == set(df_modelar[df_modelar['IDEA_pc_1990_99'].notnull()]['HY_id']))
display(set(df_modelar[df_modelar['IDEA_pc_1990_99'].notnull()]['HY_id']) == set(df_modelar[df_modelar['IDEA_pc_2000_10'].notnull()]['HY_id']))

True

True

True

True

True

In [111]:
suma_IDEA_pc = df_modelar['IDEA_pc_1960'] + df_modelar['IDEA_pc_1960_69'] + df_modelar['IDEA_pc_1970_79'] + df_modelar['IDEA_pc_1980_89'] + df_modelar['IDEA_pc_1990_99'] + df_modelar['IDEA_pc_2000_10']
suma_IDEA_pc.head()

0    0.99
1    1.00
2    0.99
3    1.01
4    1.01
dtype: float64

In [112]:
suma_IDEA_pc[suma_IDEA_pc < 0.6]

Series([], dtype: float64)

In [113]:
df_modelar.iloc[134,:]

HY_id                                                                        6029190
HY_cod_postal                                                                  46600
HY_provincia                                                                Valencia
HY_descripcion                     Piso de tres dormitorios y un baño, ubicado en...
HY_distribucion                    La vivienda está distribuida en tres dormitori...
HY_tipo                                                                         Piso
HY_antiguedad                                                                   1964
HY_metros_utiles                                                               72.19
HY_metros_totales                                                              83.01
HY_num_banos                                                                       1
HY_cert_energ                                                                      G
HY_num_terrazas                                                                    1
HY_ascensor                                                                        0
HY_trastero                                                                        0
HY_num_garajes                                                                     0
HY_precio                                                                      25400
HY_precio_anterior                                                             27900
IDEA_area                                                                      14.17
IDEA_poblacion                                                                   760
IDEA_densidad                                                                  53.63
IDEA_pc_1960                                                                    0.41
IDEA_pc_1960_69                                                                 0.41
IDEA_pc_1970_79                                                                 0.08
IDEA_pc_1980_89                                                                 0.05
IDEA_pc_1990_99                                                                 0.02
IDEA_pc_2000_10                                                                 0.02
IDEA_pc_comercio                                                                0.02
IDEA_pc_industria                                                                  0
IDEA_pc_oficina                                                                    0
IDEA_pc_otros                                                                   0.04
IDEA_pc_residencial                                                             0.51
IDEA_pc_trast_parking                                                           0.43
IDEA_ind_tienda                                                                    1
IDEA_ind_turismo                                                                   0
IDEA_ind_alimentacion                                                              0
IDEA_ind_riqueza                                                                0.15
IDEA_rent_alquiler                                                              9.17
IDEA_ind_elasticidad                                                             NaN
IDEA_ind_liquidez                                                                NaN
IDEA_unitprice_sale_residential                                               526.42
IDEA_price_sale_residential                                                  63785.6
IDEA_stock_sale_residential                                                      213
IDEA_demand_sale_residential                                                   49.27
IDEA_unitprice_rent_residential                                                 5.17
IDEA_price_rent_residential                                                      450
IDEA_stock_rent_residential                                                        3
IDEA_demand_rent_residential                                                   50.69
GA_page_views                                                                   1053
GA_mean_bounce                                                                 18.02
GA_exit_rate                                                                     6.6
GA_quincena_ini                                                                    1
GA_quincena_ult                                                                   47
TARGET                                                                         31.61
Name: 134, dtype: object

In [114]:
# % de inmuebles en la zona que son de uso comercial (IDEA_pc_comercio)

In [115]:
df_modelar['IDEA_pc_comercio'].head()

0    0.01
1    0.02
2    0.03
3    0.01
4    0.01
Name: IDEA_pc_comercio, dtype: float64

In [116]:
df_modelar['IDEA_pc_comercio'].describe()

count    7248.000000
mean        0.021454
std         0.016444
min         0.000000
25%         0.010000
50%         0.020000
75%         0.030000
max         0.170000
Name: IDEA_pc_comercio, dtype: float64

In [117]:
# % de inmuebles en la zona que son de uso industrial (IDEA_pc_industria)

In [118]:
df_modelar['IDEA_pc_industria'].head()

0    0.00
1    0.00
2    0.05
3    0.01
4    0.01
Name: IDEA_pc_industria, dtype: float64

In [119]:
df_modelar['IDEA_pc_industria'].describe()

count    7248.000000
mean        0.007529
std         0.013751
min         0.000000
25%         0.000000
50%         0.000000
75%         0.010000
max         0.230000
Name: IDEA_pc_industria, dtype: float64

In [120]:
# % de inmuebles en la zona que son de uso de oficina (IDEA_pc_oficina)

In [121]:
df_modelar['IDEA_pc_oficina'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: IDEA_pc_oficina, dtype: float64

In [122]:
df_modelar['IDEA_pc_oficina'].describe()

count    7248.000000
mean        0.007345
std         0.011161
min         0.000000
25%         0.000000
50%         0.010000
75%         0.010000
max         0.220000
Name: IDEA_pc_oficina, dtype: float64

In [123]:
# % de inmuebles en la zona que son de uso de oficina (IDEA_pc_oficina)
df_modelar['IDEA_pc_oficina'].head()
df_modelar['IDEA_pc_oficina'].describe()

count    7248.000000
mean        0.007345
std         0.011161
min         0.000000
25%         0.000000
50%         0.010000
75%         0.010000
max         0.220000
Name: IDEA_pc_oficina, dtype: float64

In [124]:
# % de inmuebles en la zona que son de uso de otros (IDEA_pc_otros)

In [125]:
df_modelar['IDEA_pc_otros'].head()

0    0.10
1    0.06
2    0.17
3    0.06
4    0.06
Name: IDEA_pc_otros, dtype: float64

In [126]:
df_modelar['IDEA_pc_otros'].describe()

count    7248.000000
mean        0.054572
std         0.047847
min         0.000000
25%         0.020000
50%         0.040000
75%         0.070000
max         0.430000
Name: IDEA_pc_otros, dtype: float64

In [127]:
# % de inmuebles en la zona que son de uso residencial (IDEA_pc_residencial)

In [128]:
df_modelar['IDEA_pc_residencial'].head()

0    0.55
1    0.57
2    0.59
3    0.45
4    0.45
Name: IDEA_pc_residencial, dtype: float64

In [129]:
df_modelar['IDEA_pc_residencial'].describe()

count    7248.000000
mean        0.499603
std         0.079948
min         0.020000
25%         0.450000
50%         0.500000
75%         0.550000
max         0.910000
Name: IDEA_pc_residencial, dtype: float64

In [130]:
# % de inmuebles en la zona que son trasteros/aparcamientos (IDEA_pc_trast_parking)

In [131]:
df_modelar['IDEA_pc_trast_parking'].head()

0    0.34
1    0.35
2    0.17
3    0.47
4    0.47
Name: IDEA_pc_trast_parking, dtype: float64

In [132]:
df_modelar['IDEA_pc_trast_parking'].describe()

count    7248.000000
mean        0.407939
std         0.086394
min         0.020000
25%         0.350000
50%         0.420000
75%         0.460000
max         0.850000
Name: IDEA_pc_trast_parking, dtype: float64

In [133]:
# % de inmuebles en la zona que son trasteros/aparcamientos (IDEA_pc_trast_parking)

In [134]:
df_modelar['IDEA_pc_trast_parking'].head()

0    0.34
1    0.35
2    0.17
3    0.47
4    0.47
Name: IDEA_pc_trast_parking, dtype: float64

In [135]:
df_modelar['IDEA_pc_trast_parking'].describe()

count    7248.000000
mean        0.407939
std         0.086394
min         0.020000
25%         0.350000
50%         0.420000
75%         0.460000
max         0.850000
Name: IDEA_pc_trast_parking, dtype: float64

In [136]:
# % de inmuebles en la zona que son tienda/local comercial (IDEA_ind_tienda)

In [137]:
df_modelar['IDEA_ind_tienda'].head()

0    0.20
1    0.00
2    0.76
3    0.51
4    0.51
Name: IDEA_ind_tienda, dtype: float64

In [138]:
df_modelar['IDEA_ind_tienda'].describe()

count    7241.000000
mean        0.328359
std         0.283297
min         0.000000
25%         0.000000
50%         0.330000
75%         0.510000
max         1.000000
Name: IDEA_ind_tienda, dtype: float64

In [139]:
# puntos de interes turistico en la zona (IDEA_ind_turismo)

In [140]:
df_modelar['IDEA_ind_turismo'].head()

0    0.60
1    0.00
2    0.08
3    0.06
4    0.06
Name: IDEA_ind_turismo, dtype: float64

In [141]:
df_modelar['IDEA_ind_turismo'].describe()

count    7241.000000
mean        0.324650
std         0.328937
min         0.000000
25%         0.040000
50%         0.230000
75%         0.540000
max         1.000000
Name: IDEA_ind_turismo, dtype: float64

In [142]:
# nivel de restaurantes de la zona (IDEA_ind_alimentacion)

In [143]:
df_modelar['IDEA_ind_alimentacion'].head()

0    0.20
1    0.00
2    0.15
3    0.43
4    0.43
Name: IDEA_ind_alimentacion, dtype: float64

In [144]:
df_modelar['IDEA_ind_alimentacion'].describe()

count    7241.000000
mean        0.258952
std         0.244020
min         0.000000
25%         0.000000
50%         0.230000
75%         0.410000
max         1.000000
Name: IDEA_ind_alimentacion, dtype: float64

In [145]:
# riqueza por habitante (IDEA_ind_riqueza)

In [146]:
df_modelar['IDEA_ind_riqueza'].head()

0    0.20
1    0.17
2    0.16
3    0.31
4    0.31
Name: IDEA_ind_riqueza, dtype: float64

In [147]:
df_modelar['IDEA_ind_riqueza'].describe()

count    7327.000000
mean        0.164402
std         0.075067
min         0.030000
25%         0.120000
50%         0.140000
75%         0.190000
max         1.000000
Name: IDEA_ind_riqueza, dtype: float64

In [148]:
# rentabilidad bruta de alquiler (IDEA_rent_alquiler

In [149]:
df_modelar['IDEA_rent_alquiler'].head()

0    4.21
1     NaN
2    6.52
3    4.39
4    4.39
Name: IDEA_rent_alquiler, dtype: float64

In [150]:
df_modelar['IDEA_rent_alquiler'].describe()

count    6896.000000
mean        5.386890
std         1.295281
min         2.500000
25%         4.540000
50%         5.185000
75%         5.960000
max        12.000000
Name: IDEA_rent_alquiler, dtype: float64

In [151]:
# elasticidad de los precios (IDEA_ind_elasticidad)
#https://es.wikipedia.org/wiki/Elasticidad_precio_de_la_demanda
# 1 bajo, 5 alto

In [152]:
df_modelar['IDEA_ind_elasticidad'].head()

0    2.0
1    NaN
2    NaN
3    NaN
4    NaN
Name: IDEA_ind_elasticidad, dtype: float64

In [153]:
df_modelar['IDEA_ind_elasticidad'].describe()

count    4852.000000
mean        3.054740
std         1.163774
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: IDEA_ind_elasticidad, dtype: float64

In [154]:
# nivel de liquided del activo (IDEA_ind_liquidez)

# categorico -> -1, 0, +1

In [155]:
df_modelar['IDEA_ind_liquidez'].head()

0    1.0
1    NaN
2    NaN
3    NaN
4    NaN
Name: IDEA_ind_liquidez, dtype: float64

In [156]:
df_modelar['IDEA_ind_liquidez'].describe()

count    4852.000000
mean        0.014984
std         0.489711
min        -1.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: IDEA_ind_liquidez, dtype: float64

In [157]:
# precio medio del m^2 en la zona (IDEA_unitprice_sale_residential)

In [158]:
df_modelar['IDEA_unitprice_sale_residential'].head()

0    1043.31
1     708.18
2    1080.75
3    1133.81
4    1133.81
Name: IDEA_unitprice_sale_residential, dtype: float64

In [159]:
df_modelar['IDEA_unitprice_sale_residential'].describe()

count    7323.000000
mean     1016.892884
std       449.799793
min       273.830000
25%       735.090000
50%       910.090000
75%      1141.410000
max      6363.400000
Name: IDEA_unitprice_sale_residential, dtype: float64

In [160]:
# Número de inmuebles en venta en la zona (IDEA_stock_sale_residential)

In [161]:
df_modelar['IDEA_stock_sale_residential'].head()

0    3417.0
1      33.0
2     393.0
3     654.0
4     654.0
Name: IDEA_stock_sale_residential, dtype: float64

In [162]:
df_modelar['IDEA_stock_sale_residential'].describe()

count    7323.000000
mean     1097.745596
std       849.334511
min         3.000000
25%       456.000000
50%       954.000000
75%      1509.000000
max      5139.000000
Name: IDEA_stock_sale_residential, dtype: float64

In [163]:
# Intensidad de demanda residencial (IDEA_demand_sale_residential)

In [164]:
df_modelar['IDEA_demand_sale_residential'].head()

0    48.34
1     0.00
2    49.51
3    49.95
4    49.95
Name: IDEA_demand_sale_residential, dtype: float64

In [165]:
df_modelar['IDEA_demand_sale_residential'].describe()

count    7323.000000
mean       48.774987
std         4.444144
min         0.000000
25%        48.710000
50%        49.160000
75%        49.660000
max        52.380000
Name: IDEA_demand_sale_residential, dtype: float64

In [166]:
# Precio medio alquiler residencial por m^2 (IDEA_unitprice_rent_residential)

In [167]:
df_modelar['IDEA_unitprice_rent_residential'].head()

0    5.09
1    4.08
2    4.43
3    5.03
4    5.03
Name: IDEA_unitprice_rent_residential, dtype: float64

In [168]:
df_modelar['IDEA_unitprice_rent_residential'].describe()

count    6960.000000
mean        5.164539
std         1.815746
min         1.000000
25%         3.980000
50%         4.810000
75%         5.940000
max        18.750000
Name: IDEA_unitprice_rent_residential, dtype: float64

In [169]:
# Precio medio alquiler (IDEA_price_rent_residential)

In [170]:
df_modelar['IDEA_price_rent_residential'].head()

0    626.38
1    700.00
2    525.00
3    863.17
4    863.17
Name: IDEA_price_rent_residential, dtype: float64

In [171]:
df_modelar['IDEA_price_rent_residential'].head()

0    626.38
1    700.00
2    525.00
3    863.17
4    863.17
Name: IDEA_price_rent_residential, dtype: float64

In [172]:
# Numero de anuncios de alquiler (IDEA_stock_rent_residential)

In [173]:
df_modelar['IDEA_stock_rent_residential'].head()

0    237.0
1      6.0
2     15.0
3    168.0
4    168.0
Name: IDEA_stock_rent_residential, dtype: float64

In [174]:
df_modelar['IDEA_stock_rent_residential'].describe()

count    6960.000000
mean      116.106897
std       249.668927
min         3.000000
25%        24.000000
50%        57.000000
75%       120.000000
max      5685.000000
Name: IDEA_stock_rent_residential, dtype: float64

In [175]:
# Demanda alquiler (IDEA_demand_rent_residential)

In [176]:
df_modelar['IDEA_demand_rent_residential'].head()

0    51.01
1    50.69
2    51.82
3    50.74
4    50.74
Name: IDEA_demand_rent_residential, dtype: float64

In [177]:
df_modelar['IDEA_demand_rent_residential'].describe()

count    7323.00000
mean       47.52931
std        13.73609
min         0.00000
25%        50.94000
50%        51.39000
75%        51.88000
max        54.22000
Name: IDEA_demand_rent_residential, dtype: float64

In [178]:
# Numero de páginas vistas (GA_page_views)

In [179]:
df_modelar['GA_page_views'].head()

0     71
1    684
2    651
3     92
4      3
Name: GA_page_views, dtype: int64

In [180]:
df_modelar['GA_page_views'].describe()

count     9958.000000
mean       190.964652
std        482.313088
min          0.000000
25%          6.000000
50%         30.000000
75%        168.000000
max      13698.000000
Name: GA_page_views, dtype: float64

In [181]:
# Bounce rate (GA_bounce_rate)

In [182]:
df_modelar['GA_mean_bounce'].head()

0     7.14
1    16.36
2    15.12
3    15.82
4     0.00
Name: GA_mean_bounce, dtype: float64

In [183]:
df_modelar['GA_mean_bounce'].describe()

count    9958.000000
mean       18.715863
std        19.983743
min         0.000000
25%         0.000000
50%        14.290000
75%        29.170000
max       100.000000
Name: GA_mean_bounce, dtype: float64

In [184]:
# % cerrado navegador sin ver más páginas (GA_exit_rate)

In [185]:
df_modelar['GA_exit_rate'].head()

0    10.65
1     5.25
2    11.21
3    14.55
4     0.00
Name: GA_exit_rate, dtype: float64

In [186]:
df_modelar['GA_exit_rate'].describe()

count    9958.000000
mean       22.209963
std        20.995044
min         0.000000
25%         8.612500
50%        16.960000
75%        30.000000
max       100.000000
Name: GA_exit_rate, dtype: float64

In [187]:
# Primera quincena aparición anuncio (GA_quincena_ini)

In [188]:
df_modelar['GA_quincena_ini'].head()

0    2
1    1
2    1
3    2
4    2
Name: GA_quincena_ini, dtype: int64

In [189]:
df_modelar['GA_quincena_ini'].describe()

count    9958.000000
mean       14.421370
std        14.091417
min         1.000000
25%         2.000000
50%         9.000000
75%        26.000000
max        47.000000
Name: GA_quincena_ini, dtype: float64

In [190]:
# Última quincena aparición anuncio (GA_quincena_ult)

In [191]:
df_modelar['GA_quincena_ult'].head()

0    46
1    47
2    47
3    47
4    39
Name: GA_quincena_ult, dtype: int64

In [192]:
df_modelar['GA_quincena_ult'].describe()

count    9958.000000
mean       42.546596
std         8.404279
min         1.000000
25%        42.000000
50%        46.000000
75%        47.000000
max        47.000000
Name: GA_quincena_ult, dtype: float64

In [193]:
# Duración media visita (TARGET)

In [194]:
df_estimar['HY_tipo']

0                     Garaje
1                       Piso
2                       Piso
3                       Piso
4                       Piso
5                       Piso
6                       Piso
7                     Garaje
8                       Piso
9                       Piso
10                    Garaje
11                      Piso
12                      Piso
13                    Garaje
14                      Piso
15                      Piso
16                      Piso
17                    Garaje
18                  Trastero
19                    Garaje
20                    Garaje
21                    Garaje
22                    Garaje
23                    Garaje
24            Casa de pueblo
25            Casa de pueblo
26                  Trastero
27            Casa de pueblo
28                  Trastero
29                    Garaje
                ...
1074                    Piso
1075          Casa de pueblo
1076                    Piso
1077                    Piso
1078                    Piso
1079          Chalet adosado
1080                    Piso
1081                   Ático
1082    Chalet independiente
1083                    Piso
1084                  Garaje
1085                    Piso
1086          Casa de pueblo
1087                   Local
1088          Chalet adosado
1089                   Solar
1090    Chalet independiente
1091                    Piso
1092                    Piso
1093                    Piso
1094                  Garaje
1095          Chalet adosado
1096                    Piso
1097                    Piso
1098                    Piso
1099                    Piso
1100          Casa de pueblo
1101                    Piso
1102                    Piso
1103                    Piso
Name: HY_tipo, Length: 1104, dtype: object

In [195]:
df_modelar['HY_tipo'].describe()

count     9958
unique      20
top       Piso
freq      4182
Name: HY_tipo, dtype: object

In [196]:
df_estimar['HY_tipo'].describe()

count     1104
unique      16
top       Piso
freq       439
Name: HY_tipo, dtype: object

In [197]:
len(set(df_modelar['HY_tipo'].unique()).intersection( set(df_estimar['HY_tipo'].unique())))

16

In [198]:
df_modelar['HY_cert_energ'].unique()

array([nan, 'F', 'E', 'G', 'D', 'C'], dtype=object)

In [199]:
df_estimar['HY_cert_energ'].unique()

array([nan, 'E', 'G', 'F', 'C', 'D'], dtype=object)

In [200]:
set(df_modelar['HY_cert_energ']) == set(df_estimar['HY_cert_energ'])

True

In [201]:
df_area = df_modelar[df_modelar['IDEA_area'].notnull()]
df_poblacion = df_modelar[df_modelar['IDEA_poblacion'].notnull()]
df_densidad = df_modelar[df_modelar['IDEA_densidad'].notnull()]

In [202]:
area = set(df_area['HY_id'].unique())
poblacion = set(df_poblacion['HY_id'].unique())
densidad = set(df_densidad['HY_id'].unique())
display(area == poblacion)
display(area == densidad)
display(densidad == poblacion)

False

False

True

In [203]:
display(area.difference(poblacion))
display(area.difference(densidad))
display(poblacion.difference(densidad))

{6029572, 6030237, 6040569, 6711144}

{6029572, 6030237, 6040569, 6711144}

set()

In [204]:
df_modelar[df_modelar['HY_id'] == 6711144][['HY_id','IDEA_area', 'IDEA_poblacion', 'IDEA_densidad']]

        HY_id  IDEA_area  IDEA_poblacion  IDEA_densidad
4138  6711144      27.02             NaN            NaN

In [205]:
df_area = df_estimar[df_estimar['IDEA_area'].notnull()]
df_poblacion = df_estimar[df_estimar['IDEA_poblacion'].notnull()]
df_densidad = df_estimar[df_estimar['IDEA_densidad'].notnull()]

In [206]:
area = set(df_area['HY_id'].unique())
poblacion = set(df_poblacion['HY_id'].unique())
densidad = set(df_densidad['HY_id'].unique())
display(area == poblacion)
display(area == densidad)
display(densidad == poblacion)

True

True

True

In [207]:
display(area.difference(poblacion))
display(area.difference(densidad))
display(poblacion.difference(densidad))

set()

set()

set()

In [208]:
df_modelar[['IDEA_area', 'IDEA_poblacion', 'IDEA_densidad']]

      IDEA_area  IDEA_poblacion  IDEA_densidad
0        670.87         13372.0          19.93
1       2216.24          1507.0           0.68
2       2040.53          5810.0           2.85
3        905.44          7004.0           7.74
4        905.44          7004.0           7.74
5       4116.56          1008.0           0.24
6       4116.56          1008.0           0.24
7       2656.34         13767.0           5.18
8         62.22           844.0          13.57
9       1659.27          1908.0           1.15
10      1659.27          1908.0           1.15
11      1659.27          1908.0           1.15
12      1659.27          1908.0           1.15
13      1659.27          1908.0           1.15
14      1584.15          1572.0           0.99
15      3219.56          5914.0           1.84
16       148.16           828.0           5.59
17      1363.70          1413.0           1.04
18       305.22          1003.0           3.29
19       728.29          1564.0           2.15
20       414.31          1372.0           3.31
21      6191.48          5928.0           0.96
22      1900.13           501.0           0.26
23        53.44         13140.0         245.86
24        53.44         13140.0         245.86
25       487.59           626.0           1.28
26       101.41          4622.0          45.58
27      1836.86           306.0           0.17
28      1836.86           306.0           0.17
29       989.50         10648.0          10.76
...         ...             ...            ...
9928      72.15         22979.0         318.51
9929    6176.95          1563.0           0.25
9930      27.20          7632.0         280.54
9931      75.82            14.0           0.18
9932    2413.85         13198.0           5.47
9933    1016.07         11480.0          11.30
9934    3219.56          5914.0           1.84
9935    9099.67           759.0           0.08
9936    1131.83          4322.0           3.82
9937    4585.74         15419.0           3.36
9938    2030.87          1149.0           0.57
9939    4388.51          1404.0           0.32
9940   10434.82         35251.0           3.38
9941    4119.16         27505.0           6.68
9942      65.94         24971.0         378.70
9943     169.60         22154.0         130.63
9944     265.99         23456.0          88.18
9945      55.06          5989.0         108.76
9946    3082.14          6402.0           2.08
9947    2310.93         20891.0           9.04
9948     592.40          8804.0          14.86
9949     592.40          8804.0          14.86
9950     613.37         30715.0          50.08
9951     353.09          6424.0          18.19
9952    2080.57          5726.0           2.75
9953    2080.57          5726.0           2.75
9954     280.78          7020.0          25.00
9955    1124.87           228.0           0.20
9956    2080.57          5726.0           2.75
9957    2309.84          2035.0           0.88

[9958 rows x 3 columns]

In [209]:
df_modelar['HY_distribucion'].head(10)

0                                                  NaN
1                                                  NaN
2                                        VIVIENDA-PISO
3                                                  NaN
4                                                  NaN
5    Se distribuye en recibidor, salón comedor, coc...
6    Se distribuye en salón comedor, cocina, lavade...
7                                                  NaN
8                                                  NaN
9                                                  NaN
Name: HY_distribucion, dtype: object

In [210]:
df_modelar['HY_descripcion'].head(10)

0    Plaza de Garaje ubicada en la planta sótano de...
1                                                  NaN
2    El inmueble(piso) se encuentra situado en el d...
3    Plaza de garaje situada en la planta semisótan...
4    Plaza de garaje situada en la planta semisótan...
5    Piso de dos dormitorios y baño en la tercera p...
6    Piso de un dormitorio y baño en la tercera pla...
7    Local comercial en bruto en la planta baja de ...
8    Plaza de garaje situada en la Gran Vía de la C...
9    Plaza de garaje situada en la Avenida Castelló...
Name: HY_descripcion, dtype: object

In [211]:
df_modelar['HY_ascensor'].describe()

count    9958.000000
mean        0.270436
std         0.444207
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: HY_ascensor, dtype: float64